<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Sign_Up</servlet-name>
        <servlet-class>Sign_Up</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>log_in</servlet-name>
        <servlet-class>log_in</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>casting</servlet-name>
        <servlet-class>casting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>result</servlet-name>
        <servlet-class>result</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sign_Up</servlet-name>
        <url-pattern>/Sign_Up</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>log_in</servlet-name>
        <url-pattern>/log_in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>casting</servlet-name>
        <url-pattern>/casting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>result</servlet-name>
        <url-pattern>/result</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
